.nextTag {
    align-self: center;
    height: 15px;
    margin-right: 10px;
    width: 20px;
}

.styling__module_body {
    box-sizing: border-box;
}

.styling__module_body-block {
    align-content: center;
    cursor: pointer;
    display: flex;
    height: 47px;
}

.styling__module_body-colors {
    border: 1px solid black;
    border-radius: 6px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 32px;
    margin: auto 6px auto 12px;
    overflow: hidden;
    width: 32px;
}

.styling__module_body-description {
    align-self: center;
    box-sizing: border-box;
    display: block;
    height: 35px;
    padding: 0;
    width: 75%;
}

.styling__module_body-text {
    margin: .65em 12px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}