.styling__module_header {
    background: white;
    margin: 0;
}
    
.styling__module_header-body {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: .65em 12px .65em 12px;
}

.styling__module_header-text {
    font-weight: 600;
    margin: 0;
}

.styling__module_header-description {
    color: #999999;
    font-size: 12px;
    line-height: 15px;
    margin: 0 12px;
}