.cog__main {
    color: #587AB0;
    cursor: pointer;
    height: 19px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 19px; 
};

.cog__main-item {
    position: relative;
}