.actions { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 56px;
}

.actions__check-button {
    background: none;
    border: 0;
    cursor: pointer;
    height: 24px;
    width: 30px;
}

.actions__check_tag {
    flex: none;
    order: 0;
    flex-grow: 0;
}

.actions__close_button {
    background: none;
    border: 0;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.actions__close_tag {
    flex: none;
    order: 0;
    flex-grow: 0;
}